body {
	min-width: 320px;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
a {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}
.container {
	padding: 0;
}
/*HEADER*/
.headerfon {
  background-color: #50A0E9;
}

header {
	min-height: 300px;
}
.logo {
	margin-top: 50px;
}
.soc-icons {
	margin-top: 50px;
	display: flex;
	justify-content: flex-start;
}

.soc-icons a {
	width: 70px;
	height: 70px;
	background-color: #C4C4C4;
	text-align: center;
	line-height: 70px;
	margin-left: 10px;
	transition: transform .5s ease;
}
.soc-icons a:hover {
	transform: translateY(-30px);
}
.soc-icons i.fab {
	color: #000;
	font-size: 27px;
}
.soc-icons a:last-child {
	line-height: 75px;
}
ul.header-menu {
	display: flex;
	justify-content: flex-start;
	margin-top: 100px;
}
li.header-menu-item {
	width: 180px;
	height: 50px;
	background-color: #A01D1D;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .5s ease;
}
li.header-menu-item:hover {
	opacity: 0.5;
}
a.header-menu-link {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
li.header-menu-item.active {
	background-color: green;
}
/*UP BUTTON*/
.up {
	width:50px;
	height: 50px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: #A01D1D;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.up .fas {
	color: white;
	font-size: 20px;
	font-weight: 900;
	transition: opacity .5s ease;
}
.up:hover {
	opacity: 0.5;
}
/*CONTENT*/
main {
	margin-top: 50px;
}
article {
	border-bottom: 2px dashed #dadada;
	padding-bottom: 10px;
}
article + article {
	margin-top: 40px;
}
article:last-child {
	border-bottom: none;
}

h2.header-post {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 20px;
}
p.post {
	margin-bottom: 10px;
}
a.readmore {
	width: 180px;
	height: 50px;
	background-color: #A01D1D;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
}
/*SIDEBAR*/
aside {
	background-color: #797474;
	padding-top: 50px;
}
.widget {
	height: 300px;
	background-color: #A01D1D;
	margin-bottom: 50px;
	padding-top: 35px;
}
h3.widget-header {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
}
ul.widget-list {
	text-align: center;
	
}
li.widget-list-item {
	position: relative;
}
li.widget-list-item + li.widget-list-item {
  margin-top: 20px;
  
}
li.widget-list-item:before {
	content: '\f1d8';
	position: absolute;
	top: 5px;
	left: 150px;
	font-family: Font Awesome\ 5 Free;
	color: #fff;
}
a.widget-list-link {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
/*FOOTER*/

.footerfon {
	background-color: #000;
	min-height: 300px;
}
ul.menu-footer {
	margin-top: 50px;
}
li.menu-footer-item {
	position: relative;
}
li.menu-footer-item:before {
	content: '\f058';
	position: absolute;
	top: 1px;
	left: -20px;
	font-family: Font Awesome\ 5 Free;
	color: #fff;
}
li.menu-footer-item + li.menu-footer-item {
	margin-top: 20px;
}
a.menu-footer-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.copy-img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
p.copy {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	
}
/*MEDIA QUERRIES*/

@media (max-width: 992px){
	.soc-icons a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.soc-icons a:last-child {
	    line-height: 60px;
   }
   li.widget-list-item:before {
   	  left: 50px;
   }
}

@media (max-width: 768px) {
  ul.header-menu {
  	 flex-direction: column;
  	 width: 100%;
  	 margin-left: -20px;
  }
  li.header-menu-item {
  	width: 100%;
  	border-bottom: 1px solid #000;
  }
  p.copy {
  	margin-top: 15px;
  }
}
@media (max-width: 576px) {
	.logo {
		margin-left: 50px;
	}
	.soc-icons {
		margin-left: 50px;
	}
	article {
		padding-left: 15px;
		padding-right: 15px;
	}
	ul.menu-footer {
		margin-left: 50px;
		text-align: center;
		
	}
	li.menu-footer-item:before{
		left: 90px;
	}
	a.menu-footer-link {
		font-size: 12px;
	}
	p.copy {
		margin-left: 20px;
		font-size: 12px;
	}
}